*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    padding: 0 25%;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007BFF;
    color: white;
    padding: 15px 0;
    text-align: center;
    gap: 100px; 
}

.logo {
    width: 100px;
    height: auto;
    margin-top: 10px;
    top: 10px;
    left: 100px;
    border-radius: 50%;
}

.engrenagem {
    width: 80px;
    height: auto;
    margin-top: 10px;
    top: 15px;
    right: 100px;
    animation: girar 3s linear infinite;

}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    
    

}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;

}
input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
   
}

input:focus {
    border: 2px solid #007BFF;
    outline: none;
}

textarea:focus {
    border: 2px solid #007BFF;
    outline: none;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004080;
}

@media (max-width: 1000px) {
    header{
        gap: 20px;
    }

    body{
        padding: 0 ;
    }
}